<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Raakaaineet</h1>

        <ol>
            <li th:each="raakaaine: ${raakaaineet}">
                <span th:text="${raakaaine.nimi}">raakaine</span>
                <form th:action="@{~/raakaaineet/poistaraakaaine/{id}(id=${raakaaine.id})}" method="POST">
                    <input type="submit" value="Poista"/>
                </form>
            </li>
        </ol>
        
      
        
        
        <form action="/lisaaraakaaine" method="POST">
            <input type="text" name="uusiraakaaine"/>
            <input type="submit" value="lisää raaka-aine"/>
</form>
    </body>
</html>