<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Lisää ja poista smoothieita</title>
        <meta charset="utf-8" />


    </head>
    <body>
        <h2>Nam nam - Smoothieita!</h2>

        <ol>
            <li th:each="smoothie: ${smoothiet}">
                <span th:text="${smoothie.nimi}">smoothiennimi</span><br/> <a th:href="${'/smoothiensivu/' + smoothie.id}">smoothien ainesosat</a>
                <form th:action="@{~/smoothiet/poistasmoothie/{id}(id=${smoothie.id})}" method="POST">
                    <input type="submit" value="Poista"/>
                </form>
            </li>
        </ol>
        Uuden smoothien nimi:<br/>
        <form  action="/lisaasmoothie" method="POST">        
            <input type="text" name="smoothiennimi"/>
            <input type="submit" value="Lisää uusi smoothie"/>
        </form>

        <form method="POST" action="/smoothie/ainesosanlisays">
            Valitse mihin smoothieen lisäät raakaaineen:<br/>
            <select  name="smoothie">
                <option th:each="smoothie: ${smoothiet}"
                        th:value="${smoothie.id}"
                        th:label="${smoothie.nimi}"
                        th:text="${smoothie.nimi}">
                        

                </option>

            </select>


            <br/>
            Mikä raaka-aine lisätään?<br/>
            <select name="raakaAine">
                <option th:each="raakaaine: ${raakaaineet}"
                        th:value="${raakaaine.id}"
                        th:label="${raakaaine.nimi}"
                        th:text="${raakaaine.nimi}">
                </option>
            </select>
            <br/>

            <div>
                Järjestys<br/>
                <input type="text" name="jarjestys"/><br/>
                Määrä<br/>
                <input type="text" name="maara"/><br/>
                Ohje<br/>
                <input type="text" name="ohje"/><br/>

                <input type="submit" value="Lisää"/>
            </div>

        </form>


    </body>
</html>
