<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothien sisältö - tee se näin!</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Smoothien raaka-aineet</h1>


        <h2 th:text="${smoothie}">Smoothiennimi</h2>



        <h3>Raakaaineet</h3>
        <ul>

            <li th:each="raakaaine:${raakaaineet}">
                <span th:text="${raakaaine}">1</span>
            
            </li>
            <li th:each="maara:${maarat}">
                <span th:text="${maara}">1</span>
            </li>
        </ul> 
        <ul>

            

        </ul> 
        
        
        
        <h3>Ohjeet</h3>
        <ul>
            <li><span th:text="${ohje}"> </span></li>
        </ul>    




        <a href="/smoothiet">Paluu smoothiet sivulle</a>






     

    </body>
</html>