<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Smoothieitten raaka-aineet</h1>
       
        <ol>
            <li th:each="smoothiennimie: ${nimi}">
                <span th:text="${smoothiennimi}">smoothiennimi</span><br/> 
   
                    <input type="submit" value="Poista"/>
           
            </li>
            <li th:each="raakaaine:${raakaaineet}">
                <span><span th:text="${raakaaine}">smoothiennimi</span></span><br/>
            </li>
            
        </ol>
        
        
          
                
                
            <!--    
                <span th:text="${smoothie.ohje}">smoothien ohje</span>
                
                <span th:text="${smoothie.jarjestys}">smoothien ohje</span>
                
                <span th:text="${smoothie.maara}">smoothien ohje</span> -->   

    </body>
</html>